[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python run.py"

[packages]
flask = "*"
flask-socketio = "*"
eventlet = "*"
python-levenshtein = "*"
requests = "*"
unidecode = "*"
flask-cors = "*"
dataclasses-json = "*"

[dev-packages]

[requires]
python_version = "3.8"
